@media (min-width: 768px) {
    .col-sm-8
}


header {
    background-color:#5e9b09;
    margin: 0;
}

footer {
    background-color:#5e9b09;
    margin: 0;
}


.background-image {
    background-color: #4f8fef;
}
h1 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
    font-family: 'Lobster', cursive;
}

p  {
    display: inline-block;
    padding: 0;
    font-size: 15px;
}

.countrylist {
    font-family: 'Lobster', cursive;
}

.titlepage {
    font-family: 'Lobster', cursive;
}


.uppercase {
    text-transform: uppercase;
}

.information {
    padding-left: 20%;
}

.toplist {
    font-size: 20px;
    padding-left: 40%;
}

.footer-heading {
    padding-top: 5%;
}

#map {
    min-height: 460px;
    margin: 5px;
    margin-top: 5px;

}

@media (min-width: 992px) {
    .col-xs-12 {
        margin-left: 15%;
    }
}

.picker {
    width: 30%;
    line-height: 20px;
    font-size: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    margin-left: 35%;
    padding-top: 0;
}


.select {
    margin-left: 25%;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 25px;
}

.input-boxes {
    width: 30%;
    line-height: 20px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 35%;

}


table {
    border-collapse: collapse;
    width: -webkit-fill-available;
}


.table-heading {
    font-family: 'Bai Jamjuree', sans-serif;
}

.results-heading {
    letter-spacing: 2px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.btn-outline-dark {
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 4%;
}
