@media (min-width: 768px) {
    .col-sm-8
}

header footer {
    background-image: url("/images/world map.jpg");
    background-position: top;
    background-repeat: repeat-x;
    margin-top: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 2%;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-bottom: 2%;
}

p  {
    display: inline-block;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;

}

.uppercase {
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.information {
    padding-left: 20%;
}

.toplist {
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 40%;
}

.footer-heading {
    padding-top: 5%;
}

#map {
    min-height: 460px;
    margin: 5px;
    margin-top: 5px;

}

@media (min-width: 992px) {
    .col-xs-12 {
        margin-left: 15%;
    }
}

.picker {
    width: 30%;
    line-height: 20px;
    font-size: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    margin-left: 35%;
    padding-top: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}


.select {
    margin-left: 25%;
    letter-spacing: 2px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 25px;
    padding: 25px;
}

.input-boxes {
    width: 30%;
    line-height: 20px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 35%;

}


.radio-butt {
    letter-spacing: 2px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;


}


table {
    border-collapse: collapse;
    width: -webkit-fill-available;
}


.table-heading {
    font-family: 'Bai Jamjuree', sans-serif;
}

.results-heading {
    letter-spacing: 2px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.btn-outline-dark {
    margin-left: 45%;
    margin-bottom: 3%;
}
